OAuthYaDisk/OAuthYaDisk.xcodeproj/project.xcworkspace/xcuserdata/aelitalukmanova.xcuserdatad/UserInterfaceState.xcuserstate
OAuthYaDisk/OAuthYaDisk.xcodeproj/xcuserdata/aelitalukmanova.xcuserdatad/xcschemes/xcschememanagement.plist
